body {
    margin: 0px;
    background-color: #f7f7f7;
    font-family: 'Century';
}

.header {
    background-color: #d9d9d9;
}

.navigation-container {
    width: 700px;
    margin: 0 auto;
    display: flex;
}

.navigation-item, .link-item {
    font-weight: bold;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    cursor: pointer;
}

.signup {
    margin-left: auto;
}

.navigation-item:not(.active):hover {
    background-color: rgb(189, 189, 189);
    color: #fff;
}

.link-item:hover {
    text-decoration: underline;
}

  .active {
    background-color: rgb(16, 212, 141);
    color: #fff;
  }

  .content {
     margin: 8px auto;
     width: 600px;
     color: #5D6063;
 }

 .content h1 {
     text-align: center;
     padding: 20px 0;
 }

 .content h1, .content h2, .content h3, .content h4, .content h5, .content h6 {
    color: #000;
 }


 .content li {
     font-weight: 200;
 }

 .content a {
     text-decoration: none;
     color: rgb(72, 145, 177);
     /* font-weight: bold; */
 }

 .content em {
     color: #000;
 }