@font-face {
    font-family: 'quicksandbook';
    src: url('http://localhost:8080/fonts/quicksand_book-webfont.woff2') format('woff2'),
         url('http://localhost:8080/fonts/quicksand_book-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'quicksandbold';
    src: url('http://localhost:8080/fonts/quicksand_bold-webfont.woff2') format('woff2'),
         url('http://localhost:8080/fonts/quicksand_bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


:root {
    --color-primary: #404789;
    --color-primary-hover: #363c6e;
    --color-secondary: #57DCF2;
    --white: #fafafa;
    --black: #000;
}

html {
    font-size: 14px;
}

body {
    background-color: var(--color-secondary);
    color: var(--black);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    /* font-family: Montserrat,Helvetica Neue,Helvetica,Arial,sans-serif; */
    font-family: 'quicksandbook', sans-serif;
}

input {
    border: none;
}

input:focus-visible {
    outline: none;
}

h1,h2,h3,h4,h5,h6 {
    /* text-align: center; */
    font-family: 'quicksandbold', sans-serif;
    margin: 10px 0;
}

h6 {
    font-weight: 600;
}

#app {
    flex: 1;
    margin-top: 20px;
    margin-bottom: 20px;
}

button {
    cursor: pointer;
    border: none;
    border-radius: 5px;
    background-color: #fff;
}

img {
    width: 100%;
}

.button-primary {
    background-color: var(--color-primary);
    height: 2.5rem;
    color: #fff;
    margin: 1rem 0;
    font-weight: 500;
}

.button-primary:hover {
    background-color: var(--color-primary-hover);
}

.title {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 4.2em;
    text-shadow: 2px 4px 20px #292017;
}

.title-container {
    padding-top: 100px;
    text-align: center;
}

.flex-split, .flex-split-info {
    display: flex;
    flex-direction: column;
}

.flex-split .image-container {
    max-width: 500px;
}

.flex-split .text-container {

}

.flex-grid {
    display: grid;
    grid-template-columns: auto;
    gap: 40px;
}


.padding-container {
    padding: 30px 30px;
}

.background-primary {
    background-color: var(--color-primary);
}

.info-container.background-primary {
    /* background-color: #2D4180; */
    color: var(--white);
}

.info-container > div {
    margin-bottom: 80px;
}

.info-container h1, .info-container h2, .info-container h3,
.info-container h4, .info-container h5, .info-container h6 {
    text-align: left;
}

.nav-item {
    padding: 0 0;
}

button.nav-link {
    border: none;
    background-color: transparent;
}

button:focus, button:focus-visible {
    outline: none;
}

.container.header-container {
    max-width: 100%;
    min-height: 80px;
}

.navbar-brand {
    flex-basis: 0;
}

.navbar-collapse {
    justify-content: flex-end;
    margin-right: 20px;
    flex-grow: 0;
}

.navbar-toggler-container {
    border: none;   
}

.navbar-dark .navbar-toggler {
    color: rgba(255, 255, 255, .8);
    border: none;
}

button.navbar-toggler {
    padding: .75rem 0;
}

.navbar-toggler-label {
    margin-right: 10px;
    font-size: 1rem;
}

.bg-primary-dark {
    background-color: var(--color-primary);
}

.image-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

@media only screen and (min-width: 960px) {
    .image-container {
        flex-direction: row;
    }
}

.image-button-container {
    width: 200px;
    height: 200px;
    margin: auto;
    position: relative;
    overflow: hidden;
}

.image-button-text {
    font-size: 2rem;
    color: #fff;
}

.image-button {
    position: relative;
    color: inherit;
    background-color: var(--color-primary);
    transition: background-color .3s ease-in-out;
    width: 300px;
    height: 300px;
}

.image-button:hover {
    background-color: var(--color-primary-hover);
    
    color: inherit;
    cursor: pointer;
}

.no-color {
    background-color: hsla(0,0%,100%,0);
}

.no-color:hover {
    background-color: hsla(0,0%,100%,.25)!important;
}

.center-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.login-page {
    margin: 50px 0;
    text-align: center;
}

.signin-container {
    margin: 0 auto;
    width: 300px;
    padding: 20px;
}

.form-field {
    width: 100%;
    margin-bottom: 0.5rem;
}

.form-field input {
    width: 100%;
    border: 0.5px solid #ced4da;
    border-radius: 3px;
    height: 35px;
    color: #495057;
    padding: 10px 10px;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

#footer {
    padding: 2rem;
    /* position: absolute;
    bottom: 0; */
    width: 100%;
}

.footer-top {
    padding: 0.5rem 1rem;
    box-shadow: 0 0 5px 5px #0f8aa0
}

.footer-logo {
    display: flex;
    align-items: center;
    max-width: 200px;
}

.footer-group-container {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    justify-content: space-around;
}

.footer-group {
    padding: 1rem 0 1rem 1rem;
    color: rgba(255, 255, 255, .8)
}


.icons-container {
    display: flex;
    justify-content: center;
}

.icon {
    width: 2rem;
    margin-right: 1rem;
}

/* .icon svg {
    fill: #00;
} */

.email-icon {
    width: 1.5rem;
    margin: 10px 0 0 10px;
}

.etsy-icon {
    width: 1.3rem;
    padding-top: 2px;
}

.github-icon {
    width: 1.5rem;
    padding-top: 2px;
}

.linkedin-icon {
    padding-top: 3px;
}

.footer-bottom {
    text-align: center;
    padding: 10px 0;
    font-size: .5rem;
}

.p-t-10 {
    padding-top: 50px;
}

.m-t-10 {
    margin-top: 150px;
}
@media only screen and (min-width: 960px) {
    html {
        font-size: 16px;
    }
    .padding-container {
        padding: 140px 140px;
    }

    .home-buttons {
        flex-direction: row;
        justify-content: center;
    }

    .info-title {
        width: 60%;
    }

    .flex-split, .flex-split-info {
        flex-direction: row;
    }

    .flex-split :nth-child(2) {
        padding-left: 50px;
    }

    .flex-split .text-container {
        align-self: center;
    }

    .flex-split .text-container > * {
        font-size: 60px;

    }

    .flex-split > *, .flex-split-info > * {
        min-width: 30%;
    }

    .flex-grid {
        grid-template-columns: auto auto auto;
    }

    .image-button-container {
        width: 300px;
        height: 300px;
    }
}